In [1]:
# Libraries
import pandas as pd

## Check most populated cities in Spain

Import table from Wikipedia

In [13]:
## Import HTML table
cities = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Municipios_de_Espa%C3%B1a_por_poblaci%C3%B3n',header=0)[1]

In [14]:
cities.head()

   #     Nombre Población(2019)  Provincia    Comunidad autónoma
0  1     Madrid       3 266 126     Madrid   Comunidad de Madrid
1  2  Barcelona       1 636 762  Barcelona              Cataluña
2  3   Valencia         794 288   Valencia  Comunidad Valenciana
3  4    Sevilla         688 592    Sevilla             Andalucía
4  5   Zaragoza         674 997   Zaragoza                Aragón

In [15]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 5 columns):
#                     63 non-null int64
Nombre                63 non-null object
Población(2019)       63 non-null object
Provincia             63 non-null object
Comunidad autónoma    63 non-null object
dtypes: int64(1), object(4)
memory usage: 2.6+ KB

In [16]:
## Clean and normalize table
cities = cities.drop(['#'], axis=1)

In [17]:
cities.columns = ['city', 'population', 'provincia', 'ccaa']

In [19]:
cities['population'] = cities['population'].apply(lambda x: str(x).replace('\xa0', '').replace(' ', ''))
cities.population = cities.population.astype(int)

In [21]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 4 columns):
city          63 non-null object
population    63 non-null int32
provincia     63 non-null object
ccaa          63 non-null object
dtypes: int32(1), object(3)
memory usage: 1.8+ KB

## Create CSV for analysis

In [22]:
cities.to_csv('../../Analysis/cities_population.csv')