In [1]:
# Libraries
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import pymysql

Connect to local DB
driver   = 'mysql+pymysql:'
user     = 'root' 
password = 'ML_LI_04'
ip       = '127.0.0.1' 

database = 'fitbit' 

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

## Check most populated cities in Spain

In [5]:
cities = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Municipios_de_Espa%C3%B1a_por_poblaci%C3%B3n',header=0)[1]

In [6]:
cities

     #     Nombre Población(2019)   Provincia    Comunidad autónoma
0    1     Madrid       3 266 126      Madrid   Comunidad de Madrid
1    2  Barcelona       1 636 762   Barcelona              Cataluña
2    3   Valencia         794 288    Valencia  Comunidad Valenciana
3    4    Sevilla         688 592     Sevilla             Andalucía
4    5   Zaragoza         674 997    Zaragoza                Aragón
..  ..        ...             ...         ...                   ...
58  59     Orense         105 233      Orense               Galicia
59  60       Reus         104 373   Tarragona              Cataluña
60  61      Telde         102 647  Las Palmas              Canarias
61  62     Gerona         101 852      Gerona              Cataluña
62  63  Baracaldo         100 881     Vizcaya            País Vasco

[63 rows x 5 columns]

## Import crime stats from top 15 populated cities

In [69]:
excel_crimes = pd.read_excel('try_excel.xls')

In [70]:
crimes = excel_crimes.iloc[6:231,].reset_index(drop=True)

In [71]:
crimes.columns = ['crime', 'quantity']

In [72]:
crimes['city'] = 'pending'

In [77]:
crimes.loc[(crimes.quantity.isna()), 'city'] = crimes.crime.str.split('de')
crimes['city'] = crimes.apply(lambda row: crimes.iloc[(row.index - 1), 2] if crimes['city'] == 'pending')

SyntaxError: invalid syntax (<ipython-input-77-25f2c55a29f0>, line 2)

## Match crime names from both DB

In [85]:
crime_names = pd.read_excel('try_excel.xls')
crime_names = crime_names.iloc[6:231,].reset_index(drop=True)
crime_names.columns = ['crime', 'quantity']
crime_names = crime_names.dropna()
crime_names = crime_names.groupby('crime').sum().reset_index()
crime_names.to_csv('crims_interior.csv')